:root{
    --a:0
}

.spotifyPlaylists{
    margin: 0px 15px;
    height: 86%;
    min-height: 0;
    position: relative;
}

.right-side h2{
    margin: 5px 20px;
}

.Container{
    height: 86%;
    min-height: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px;
    height: 92%;
    min-height: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;
}

.card {
    width: 190px;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card p{
    margin-top: 8px;
    font-size: 14px;
    color: #b3b3b3;
}

.card h3{
    margin: 5px 0px;
    font-size: 16px;
    color: white;
}
.card:hover{
    cursor: pointer;
    background-color: #252525;
    --a:1
}

.right-side footer{
    width: 100%;
    position: relative;
    bottom: 0;
}

.play{
    position: absolute;
    width: 47px;
    height: 47px;
    background-color: #1ed763;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 87px;
    right: 18px;
    opacity: var(--a);
    transition: all 0.2s ease-in-out;
}

.play img{
    width: 25px;
    height: 25px;
}

/* ScrollBar CSS */
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: #222;
}

/* utility for on hover font */
.btns:hover{
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.playbar{
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 12;
    width: 99%;
    background-color: rgb(45, 217, 45);
    padding: 12px;
    border-radius: 20px;
    height: 40px;
}

.songbtn{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.seekbar{
    height: 2px;
    width: 97%;
    background: white;
    position: absolute;
    bottom: 3px;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbtn img{
    cursor: pointer;
}

.headerbar{
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.songinfo{
    width: 250px;
}

.songtime{
    width: 80px;
}

.timevol{
    display: flex;
    margin-right: 50px;
    gap: 10px;
    align-items: center;
}

.range{
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;
}

.showrange{
    display: none;
}

.vol{
   display: flex;
}
